<div class="container">
  <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->

		<h2>{{currentUser}}'s expenses</h2>

		<!-- <div class="table-responsive"> -->
<!-- 		    <table class="table table-striped">
		      <thead>
				<tr>
					<td><b>Expenses</b></td>
					<td><b>Amounts</b></td>
					<td><b>Dates</b></td>
				</tr>
		      </thead> -->
		      <!-- <tbody> -->
		      	<div *ngFor="let expensesDetail of expensesDetails">
					<accordion>
					  <accordion-group #group>
					    <div accordion-heading class="row">
					    	<div class="col-3">{{expensesDetail.expenseName}}</div>

					      	<i class="pull-right float-xs-right glyphicon"
					         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
					    </div>
					    <div class="row details" *ngFor="let detail of expensesDetail['details']">
					      	<div class="col-3">{{detail.beneficiaryName}}</div>
							<div class="col-3">{{detail.amountPaid}}</div>
							<div class="col-3">{{detail.dateOfPaiment}}</div>
					    </div>
					  </accordion-group> 
					</accordion>
				</div>
		      <!-- </tbody> -->
		    <!-- </table> -->
		<!-- </div> -->

    <!-- </div> -->
  <!-- </div> -->
</div>

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<form class="form-signin" #newExpensesInputForm="ngForm" (ngSubmit)="submitNewExpenses(newExpensesInputForm)">
	        <label for="expense" class="sr-only">Expense</label>
		    <input type="text" id="expense" ngModel class="form-control input_space" placeholder="expense" required="" autofocus="" name="expense">

		    <label for="beneficiaryName" class="sr-only">Expense</label>
		    <input type="text" id="beneficiaryName" ngModel class="form-control input_space" placeholder="beneficiary name" required="" autofocus="" name="beneficiaryName">

		    <label for="amount" class="sr-only">Amount</label>
		    <input type="text" id="amount" ngModel class="form-control input_space" placeholder="amount" required="" name="amount">

		    <label for="date" class="sr-only">Date</label>
		    <input type="text" id="date" ngModel class="form-control input_space" placeholder="date" required="" name="date">

		    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>

		    <h3>{{errorMessage}}</h3>
			<h3>{{successMessage}}</h3>
		</form>
	</div>
	<div class="col-3"></div>

</div>