<div class="container">
  <div class="row">
    <div class="col-12">

		<h2>{{currentUser}}'s expenses</h2>

		<div class="table-responsive">
		    <table class="table table-striped">
		      <thead>
				<tr>
					<td><b>Expenses</b></td>
					<td><b>Amounts</b></td>
					<td><b>Dates</b></td>
				</tr>
		      </thead>
		      <tbody>
				<tr *ngFor="let expense of expenses">
					<td>{{expense.beneficiaryName}}</td>
					<td>{{expense.amountPaid}}</td>
					<td>{{expense.dateOfPaiment}}</td>
				</tr>
		      </tbody>
		    </table>
		</div>

    </div>
  </div>
</div>

<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<form class="form-signin" #newExpensesInputForm="ngForm" (ngSubmit)="submitNewExpenses(newExpensesInputForm)">
	        <label for="expense" class="sr-only">Expense</label>
		    <input type="text" id="expense" ngModel class="form-control input_space" placeholder="expense" required="" autofocus="" name="expense">

		    <label for="amount" class="sr-only">Amount</label>
		    <input type="text" id="amount" ngModel class="form-control input_space" placeholder="amount" required="" name="amount">

		    <label for="date" class="sr-only">Date</label>
		    <input type="text" id="date" ngModel class="form-control input_space" placeholder="date" required="" name="date">

		    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>

		    <h3>{{errorMessage}}</h3>
			<h3>{{successMessage}}</h3>
		</form>
	</div>
	<div class="col-3"></div>

</div>